<nav class="navbar navbar-expand-md" [ngClass]="'bg-'+theme + ' navbar-'+bg">
	<div class="container-fluid">
		<a class="navbar-brand pointer" (click)="goto(1)">
			<img src="../assets/logo.png" alt="" height="24"
				class="d-inline-block align-text-top me-2" />
			<span class="navbar-brand mb-0 h1">{{title}}</span>
		</a>
		<div class="navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item" *ngFor="let item of menu">
					<a class="nav-link pointer" [ngClass]="{'active': tab==item.id}" aria-current="page"
						(click)="goto(item.id)"> {{item.title}}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">|</a>
				</li>
				<li class="nav-item" >
					<a class="nav-link pointer" (click)="nextTheme()">
						change
					</a>
				</li>
				<li class="nav-item" >
					<a class="nav-link pointer" (click)="reset()">
						reset
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div>
	<app-settings [theme]="theme" *ngIf="tab==0"></app-settings>
	<app-games [theme]="theme" *ngIf="tab==1" (themeEvent)="nextTheme()"></app-games>
	<app-leaderboard [theme]="theme" *ngIf="tab==2"></app-leaderboard>
</div>